﻿@model ApplicationUser
@{
    ViewBag.Title = "Log in";
}

@using (Html.BeginRouteForm("Account.Authenticate", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="@Html.IdFor(model => model.UserName)">
            E-mail
        </label>
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.UserName)
        </div>
    </div>

    <div class="form-group">
        <label for="@Html.IdFor(model => model.Password)">
            Password
        </label>
        <div class="col-md-10">
            @Html.PasswordFor(model => model.Password)
        </div>
    </div>

    <input type="submit" value="Log in" class="btn btn-default" />
}